button {
  border-style: none;
  border-radius: 333px;
  cursor: pointer;

  font-family: var(--font-baloo);
  font-weight: var(--font-beloo-weight);

  border-style: solid;
  border-color: var(--color-orange);
  border-width: 2px;
}

.primary {
  color: var(--color-white);
  background-color: var(--color-orange);
}

.secondary {
  color: var(--color-orange);
  background-color: #1fe0;
}

.btn-s {
  padding: 2px 8px;
}

.btn-m {
  padding: 4px 16px;
}

.btn-l {
  padding: 8px 32px;
}
