.hero-header {
  color: var(--color-orange);
  line-height: 0.8;
}

.underline {
  text-decoration-color: var(--color-espresso);
  text-decoration-thickness: 8%;
  text-decoration-style: wavy;
  text-decoration-line: underline;
}

.cursor {
  animation: blink 1s step-end infinite;
  color: var(--color-black);
  font-weight: 100;
  font-family: var(--font-lekton);
  margin-left: -4px;
  font-size: 0.8em;
  vertical-align: top;
}

.cursor.cursor-done {
  visibility: hidden;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(16) 1s 1 normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
