nav {
  padding: 36px 96px;
  background-color: var(--col-espresso);
  color: var(--col-white);

  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
