nav {
  padding: 36px 96px;
  background-color: var(--color-espresso);
  color: var(--color-white);

  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;

  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.hamburger-container {
  display: none;
}

@media only screen and (min-width: 2000px) {
  nav {
    padding: 48px 176px;
  }

  .nav-links {
    gap: 64px;
  }
}

@media only screen and (max-width: 880px) {
  nav {
    padding: 36px;
  }

  .hamburger-container {
    display: contents;
  }

  .nav-links {
    display: none;
  }
}
