footer {
  padding: 36px 96px;
  background-color: var(--color-espresso);
  color: var(--color-white);

  justify-content: space-between;
  align-items: center;

  display: flex;
  flex-direction: row;
}

.linkedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 2000px) {
  footer {
    padding: 48px 176px;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 24px;
    padding: 36px;
  }
}
