@import url("https://fonts.googleapis.com/css2?family=Baloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --font-baloo: "Baloo", sans-serif;
  --font-baloo-weight: normal;
  --font-lekton: "Lekton", sans-serif;
  --font-lekton-regular: normal;
  --font-lekton-bold: bold;

  --col-sand: #fffdf1;
  --col-apricot: #ffce99;
  --col-orange: #ff9644;
  --col-espresso: #562f00;

  --col-white: #ffffff;
  --col-black: #000000;

  --screen-xl: 1536px;
  --screen-l: 1024px;
  --screen-m: 768px;
  --screen-s: 425px;
}

html,
body,
#root {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-family: var(--font-baloo);
  font-weight: var(--font-baloo-weight);
  font-size: 64px;
  margin: 0;
}

h2 {
  font-family: var(--font-baloo);
  font-weight: var(--font-baloo-weight);
  font-size: 32px;
  margin: 0;
}

h3 {
  font-family: var(--font-baloo);
  font-weight: var(--font-baloo-weight);
  font-size: 24px;
  margin: 0;
}

h4 {
  font-family: var(--font-baloo);
  font-weight: var(--font-baloo-weight);
  font-size: 16px;
  margin: 0;
}

p {
  font-family: var(--font-lekton);
  font-weight: var(--font-lekton-regular);
  font-size: 16px;
  margin: 0;
}

/* Extra large devices such as desktops (1536px or more) */
@media only screen and (min-width: 1536px) {
  h1 {
    font-size: 128px;
  }

  h2 {
    font-size: 64px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
  }

  p {
    font-size: 32px;
  }
}

/* Small devices such as phones (768px or lesser) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }
}
