@import url("https://fonts.googleapis.com/css2?family=Baloo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";

@theme {
  --font-baloo: "Baloo", sans-serif;
  --font-lekton: "Lekton", sans-serif;

  --color-sand: #fffdf1;
  --color-apricot: #ffce99;
  --color-orange: #ff9644;
  --color-espresso: #562f00;

  --breakpoint-3xl: 1920px;
}

body,
#root {
  min-height: 100vh;
  background-color: var(--color-sand);
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2em;
    font-family: var(--font-baloo);
    font-weight: normal;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-family: var(--font-lekton);
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2em;
  }

  /* breakpoint md */
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 64px;
    }
    h2 {
      font-size: 32px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  }

  /* Extra large devices (1920px or more) */
  @media only screen and (min-width: theme(--breakpoint-3xl)) {
    h1 {
      font-size: 128px;
    }
    h2 {
      font-size: 64px;
    }
    h3 {
      font-size: 48px;
    }
    h4 {
      font-size: 32px;
    }
    p {
      font-size: 32px;
    }
  }
}
