.hero {
  padding: 64px 96px;
  gap: 96px;
  align-items: center;
  display: flex;
  flex-direction: row;

  background: linear-gradient(0.25turn, var(--col-sand), var(--col-apricot));
}

.hero img {
  width: 40%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1111px 1111px 20px 20px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--col-orange);
}

.hero p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hero-left {
  width: 60%;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  font-weight: var(--font-lekton-bold);
  font-family: var(--font-lekton);
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-band {
  display: flex;
  align-items: center;
  gap: 36px;
}

@media only screen and (min-width: 2000px) {
  .hero {
    padding: 176px;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 36px;
    gap: 36px;
  }

  .hero-left {
    gap: 16px;
    align-items: center;
  }
}

@media only screen and (max-width: 426px) {
  .hero {
    flex-direction: column;
  }

  .hero img {
    width: 100%;
  }

  .hero-left {
    width: 100%;
    order: 1;
  }
}
